<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <h1 style="margin:40px">Blog</h1>
            </div>
            <div class="options">
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </header>
    <div class="content" style="height: 60vh;">
        <h1>{{da.title}}</h1>
        <h3>{{da.subtitle}}</h3>
        <p>{{da.body}}</p>
    </div>
</body>
</html>